@charset "utf-8";
#header {
	background-color: #90A41B;
	font-style: italic;
	text-align: center;
	padding-right: 10px;
}
#image {
	float: left;
	padding-right: 10px;

}
#page {
	margin-left: 200px;
	margin-right: 200px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	background-color: #000000;
	bottom: 1000px;
}
#table {
	background-color: #90A41B;
	margin-left: 10px;
}



#nav {
	border-color: #000000;
	background-color: #FFFFFF;
	text-align: center;
}
#body {
    background-color: #90A41B;
}
#logo {
    color: #000000;
}
#button {
	border-color: #000000;
}
#centre_text {
	text-align: center;
}
#prices_body_heading {
	text-align: center;

}
#call_to_action {
	text-align: center;
	border: thick solid #000000;
	background-color: #59FF00;
	font-weight: bold;
	border-radius: 300px;
	margin-left: 350px;
	margin-right: 350px;
}


#main_headings {
	text-align: left;
	font-style: italic;
	margin-left: 10px;
}
#main_content_section {
	background-color: #FFFFFF;
}
#footer {
	background-color: #90A41B;
	text-align: center;
	font-style: italic;
	font-weight: bold;
}
#paragraph {
	margin-left: 12px;
	margin-right: 10px;
}
