@charset "utf-8";
image {
    float: left;
    text-align: left;
}
#header {
	background-color: #90A41B;
	border-color: #000000;
	font-style: italic;
	text-align: center;
}
#nav {
	border-color: #000000;
	background-color: #FFFFFF;
	text-align: center;
}
#body {
    background-color: #90A41B;
}
#logo {
    color: #000000;
}
#button {
    border-color: #000000;
}
#centre_text {
	text-align: center;
}
